.sort-link {
  position: relative;
  padding-right: 5px;
}

.sort-link.active {
  background-image: url("../../../public/image/sortmenu_btn_on.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  /* background-size: 50px 30px; adjust size as needed */
}

.morning {
  display: inline-block;
  height: 14px;
  padding-left: 22px; /* 이미지 너비에 따라 적절한 패딩 설정 */
  line-height: 14px; /* 텍스트와 이미지 높이 맞춤 */
  background: url(../../../public/image/icon_morning_night.png) no-repeat left
    center;
  background-position: 0 0;
}

.night {
  display: inline-block;
  height: 14px;
  padding-left: 22px; /* 이미지 너비에 따라 적절한 패딩 설정 */
  margin-left: 14px;
  line-height: 14px; /* 텍스트와 이미지 높이 맞춤 */
  background: url(../../../public/image/icon_morning_night.png) no-repeat left
    center;
  background-position: 0 -20px;
}

.btn_img {
  background: url(../../../public/image/tnb_buttons.png) no-repeat;
  background-position: 0 -220px;
  overflow: hidden;
  text-indent: -1000px;
  width: 106px;
  height: 108px;
}

/* bookingDefault.jsx */
.refresh {
  background: url(../../../public/image/step_refresh_btn.png) no-repeat 100% 50%;
}

/* bookingDefault.jsx */
.discount-list > ul > li > a {
  display: block; /* 블록 요소로 설정 */
  line-height: 31px;
  height: 28px; /* 높이 설정 */
  text-decoration: none; /* 밑줄 제거 */
  padding-left: 14px; /* 왼쪽 패딩 설정 */
  color: #333; /* 글자 색상 설정 */
  font-size: 12px; /* 글자 크기 설정 */
  font-weight: bold; /* 글자 두께 설정 */
  background: url(../../../public/image/step3_bullets.png) no-repeat 170px -171px; /* 이미지 배경 설정 */
}

.discount-form > div > div h5 {
  background: url(../../../public/image/step3_bullets.png) no-repeat 0 -259px;
  text-indent: 11px;
}
